<div id="map" class="map" style='width: 100%; height: 500px;'>
  <script>
  handler = Gmaps.build('Google');
  var map = handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= listing.latitude %>,
        "lng": <%= listing.longitude %>,
        "infowindow": " + <%= listing.title %> + "
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(12);
  });
  </script>
</div>
