<%= image_tag @listing.pic_1.url(:banner), class:"img-responsive center-block" %>
<a href="<%= @listing.pic_1.url(:x_large) %>" title="<%= @listing.description %>" rel="portfolio" class="fancybox"><span class="plus"></span></a>
