
<div id="banner">
  <%= render "layouts/home_slider" %>
</div>

<section id="listing">
  <div class="section-title text-center wow fadeInDown">
    <h2>Listings</h2>
    <p>Checkout the listings today.</p>
  </div>

  <div id="listings" class="clearfix">
    <div id="index-listings" class="text-center">
      <% @listings.each do |l| %>
      <div>
        <div>
          <figure class="mix portfolio-item app">
            <%= link_to (image_tag l.pic_1.url(:large), class:"img-responsive center-block index-listing-image", alt:"Portfolio Item"), listing_path(l) %>

            <figcaption class="mask">
              <h5><%=link_to l.title, listing_path(l) %></5>
              </figcaption>
            </figure>
          </div>
        </div>
        <% end %>
      </div>
    </div> <!-- end #listings -->
  </section>
  <!--
  End #Portfolio
  ========================== -->
