
<div id="banner">
  <%= render "layouts/home_slider" %>
</div>

<section id="listing">
  <div class="section-title text-center wow fadeInDown">
    <h2>Listings</h2>
    <p>Checkout the listings today.</p>
  </div>

  <div id="listings" class="clearfix">
    <div id="index-listings" class="text-center">
      <%= render "listings", listings: @listings %>
      </div>
    </div> <!-- end #listings -->
  </section>

<%= render "layouts/footer" %>
  <!--
  End #Portfolio
  ========================== -->
