<div>
  <div class="form-background">
    <div class="white-form">

      <h3 class="text-center">Your Reservation for <%= @reservation.listing.title %></h3>
      <br />
      <div class="listing-active-photo">
        <%= render "listings/show_active_img" %>
      </div>
      <hr />
      <%= render "detail", reservation: @reservation %>
    </div>
  </div>
</div>
