<div class="form-background">
  <h1 class="white">Payment</h1>
  <div class="white-form">
    <%= render "reservations/detail", reservation: @reservation %>
    <hr />
    <%= render "form" %>
  </div>
</div>
