<!--
#about========================== -->
<section id="about">

  <div class="row">

    <div class="section-title text-center wow fadeInUp">
      <h2>About Us</h2>
      <p>Something worth mentioning here about Easy Rent.</p>
      <p>Something else worth mentioning here about Easy Rent.</p>
    </div>

    <!-- <div class="about-us text-center wow fadeInDown">
    <%= image_tag("Website-Design-Background.png", class:"img-responsive", style:"display:absolute") %>
  </div> -->

</div>
</section>
<!--
End #about========================== -->
<!--
#footer
========================== -->
<footer id="footer" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <div class="footer-logo wow fadeInDown">
          <span><%= fa_icon("home", class:"fa-5x") %>  EZ RENT</span>
        </div>

        <div class="footer-social wow fadeInUp">
          <h3>Join Our Social Sites</h3>
          <ul class="text-center list-inline">
            <li><a href="http://goo.gl/RqhEjP"><i class="fa fa-facebook fa-lg"></i></a></li>
            <li><a href="http://goo.gl/hUfpSB"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li><a href="http://goo.gl/r4xzR4"><i class="fa fa-google-plus fa-lg"></i></a></li>
            <li><a href="http://goo.gl/k9zAy5"><i class="fa fa-dribbble fa-lg"></i></a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>
<!--
End #footer
========================== -->
