<ul id="login-dp" class="dropdown-menu">
  <li>
    <div class="row">
      <div class="col-md-12">
        <%= render "devise/sessions/form"%>
      <div class="bottom text-center">
        New User? <%= link_to "Sign up", new_user_registration_path %>
      </div>
    </div>
  </li>
</ul>
